@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer base {
  :root {
    --radius: 0.5rem;
  }
  [data-registry="plate"] {
    --radius: 0.5rem;
    --brand: 217.2 91.2% 59.8%;
    --highlight: 47.9 95.8% 53.1%;
  }
  [data-registry="plate"].dark {
    --brand: 213.3 93.9% 67.8%;
    --highlight: 48 96% 53%;
  }
}
